
  
  /* ...................new id card for bangla.................*/
  
    .left_td{
	  width:100px;
  }
  .id_card_back,.id_card_front,.front_top_left,.front_top_right{
	  display:inline-block;
  }
  .back_col_1,.back_col_2,.back_col_3,.back_col_5,.back_col_6,.back_col_7,.back_col_8,.back_col_9
  ,.back_col_10,.back_col_11,.back_col_12,.back_col_13,.back_col_14,.back_col_15,.back_col_16
  {
	 /* width:190px; */
	  font-family:SutonnyMJ; 
	  font-size: 11px;
	  display:inline-block;
	  vertical-align: top;
	  padding:1px;
  }
  
    .front_col_1,.front_col_2,.front_col_3,.front_col_4,.front_col_5,.front_col_6,.front_col_7,.front_col_8,.front_col_9
  ,.front_col_10,.front_col_11,.front_col_12,.front_col_13,.front_col_14,.front_col_15,.front_col_16,.front_col_17,.front_col_18,.front_col_19,
  .front_col_11_line,.front_col_12_line,.front_col_7_proxi,.front_col_8_proxi
  {
	 
	  font-family:SutonnyMJ; 
	  font-size: 11px;
	  display:inline-block;
	  line-height: 10px!important;
  }
  
  .back_row_1,.back_row_2,.back_row_3,.back_row_4,.back_row_5,.front_row_1.front_row_2,.front_row_3,.front_row_4,.front_row_5,.front_row_6,.front_row_7
  ,.front_row_left_1,.front_row_left_2,.front_row_left_3{
	  padding:0px 0px;
	  line-height:16.5px;
  }
  
  
  /* new id card for english*/
  
 
  .e_back_col_1,.e_back_col_2,.e_back_col_3,.e_back_col_5,.e_back_col_6,.e_back_col_7,.e_back_col_8,.e_back_col_9
  ,.e_back_col_10,.e_back_col_11,.e_back_col_12,.e_back_col_13,.e_back_col_14,.e_back_col_15,.e_back_col_16
  {
	  font-size: 11px;
	  display:inline-block;
	  vertical-align: top;
	  padding:1px;
  }
  
  .e_front_col_1,.e_front_col_2,.e_front_col_3,.e_front_col_4,.e_front_col_5,.e_front_col_6,.e_front_col_7,.e_front_col_8,.e_front_col_9
  ,.e_front_col_10,.e_front_col_11,.e_front_col_12,.e_front_col_13,.e_front_col_14,.e_front_col_15,.e_front_col_16,.e_front_col_17,.e_front_col_18,.e_front_col_19,.e_front_col_11_line,.e_front_col_12_line,.e_front_col_5_proxi,.e_front_col_6_proxi
  {
	  font-size: 11px;
	  display:inline-block;
	  line-height: 10px!important;
	  line-height:16.5px;
  }
  
  
  
  
  
  
  
